# Project Title: Flight Price Prediction

# Introduction

#### Objective
Create a model to predict flight ticket prices based on various factors.

#### Key Features Analyzed
- **Airline:** Different airlines may charge different prices.
- **Date of Journey:** Prices can change depending on the day or season.
- **Source and Destination Cities:** Prices vary based on where you’re flying from and to.
- **Route Details:** Direct flights may cost more than those with layovers.
- **Departure and Arrival Times:** Prices can be higher for popular travel times.
- **Duration:** Longer flights might be more expensive.
- **Total Stops:** More stops can lead to different pricing.
- **Additional Flight Info:** Extra services or rules may influence prices.
- **Actual Ticket Price:** Historical data helps train the model.

#### Analysis Goal
- **Understand Pricing Factors:** Use data to see how these features affect ticket prices.

#### Methodology
- **Data Collection:** Gather flight data from reliable sources.
- **Data Preprocessing:** Clean and organize the data for analysis.
- **Exploratory Data Analysis (EDA):** Visualize trends and relationships in the data.
- **Model Development:** Use machine learning algorithms to build the prediction model.
- **Model Evaluation:** Check how well the model performs using metrics like MAE and RMSE.

#### Benefits for Stakeholders
###### For Airlines:
- Optimize pricing strategies to stay competitive.
- Make better decisions for promotions and fare adjustments.

###### For Travel Agencies:
- Offer competitive prices to attract customers.
- Improve customer satisfaction with better pricing.

#### Project Contributions
- **Market Insights:** Provide understanding of pricing trends and demand changes.
- **Revenue Management:** Help airlines and agencies manage pricing effectively.
- **Better Customer Experience:** Ensure customers get the best deals and improve loyalty.

# Code

### Import Libraries:

- **train_test_split:** This function is used to split the dataset into training and testing subsets.
- **RandomForestRegressor:** This class implements the Random Forest algorithm for regression tasks.
- **metrics:** Contains functions for evaluating model performance, such as calculating error metrics.
- **numpy, seaborn, matplotlib.pyplot:** Libraries for numerical operations and data visualization.
- **pickle:** Used for serializing and deserializing Python objects, allowing you to save your trained model.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

- Loads flight price data from an Excel file into a Pandas DataFrame called train_data.

In [28]:
train_data = pd.read_excel("Data_Train.xlsx")

- Configures Pandas to display all columns of the DataFrame without limit when printed.

In [29]:
pd.set_option('display.max_columns', None)

- Displays the first five rows of the train_data DataFrame to provide a quick look at the data structure and content.

In [30]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [31]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

###### Output Explanation: 
    - <class 'pandas.core.frame.DataFrame'>: The object is a pandas DataFrame.
    - RangeIndex: 10683 entries, 0 to 10682: There are 10,683 rows indexed from 0 to 10,682.
    - Data columns (total 11 columns): There are 11 columns in the DataFrame.
 - Each column is displayed with:
   - Column: Name of the column.
   - Non-Null Count: Number of non-null entries in the column.
   - Dtype: Data type of the column (e.g., object, int64).
 - dtypes: Shows the number of columns for each data type.
 - memory usage: The total memory used by the DataFrame.

In [32]:
train_data["Duration"].value_counts()

Duration
2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: count, Length: 368, dtype: int64

The command **train_data["Duration"].value_counts()** is executed to get the count of unique values in the "Duration" column of the DataFrame, which helps in understanding the distribution of flight durations. 

- **2h 50m:** This duration appears 550 times in the dataset, indicating that there are 550 flights with a duration of 2 hours and 50 minutes.
- **1h 30m:** This duration appears 386 times.
- **2h 45m:** This duration appears 337 times.
The counts continue for various durations, showing how many flights fall into each category.

The last part of the output **(Name: Duration, Length: 368, dtype: int64)** indicates that the output is a Series with the name "Duration," it contains 368 unique entries, and the data type of the counts is integer (int64).

### Checking for Null Values

In [33]:
train_data.isnull().sum()

# This command checks for null (missing) values in each column of the DataFrame and returns the count of null values for each column.

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

Each line represents a column in the DataFrame:
- Airline, Date_of_Journey, Source, Destination, Dep_Time, Arrival_Time, Duration, Additional_Info, Price: All have 0 null values, indicating complete data.
  - Route: Has 1 null value.
  - Total_Stops: Also has 1 null value.
- **Significance:** This output helps identify which columns may need data cleaning or imputation before proceeding with analysis or modeling. Columns with null values can impact model performance, so they need to be addressed.

### Descriptive Statistics

In [34]:
train_data.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

- This command provides statistical summary statistics for the numerical columns in the DataFrame, specifically focusing on the **Price** column .

- **count:** 10,683 entries in the Price column.
- **mean:** The average price is approximately 9,087.06.
- **std:** The standard deviation is about 4,611.36, indicating the price variability.
- **min:** The minimum price is 1,759.
- **25%:** The first quartile (25th percentile) price is 5,277.
- **50% (median):** The median price is 8,372.
- **75%:** The third quartile (75th percentile) price is 12,373.
- **max:** The maximum price is 79,512.
- **Significance:** This summary helps understand the distribution of flight prices in the dataset, highlighting central tendencies and the spread of data. It can inform decisions on data transformations or the choice of modeling techniques.

In [35]:
train_data.dropna(inplace=True)

# This command removes all rows from the DataFrame that contain any null values.

#### Verifying Null Value Handling Again

In [36]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

- After dropping null values, all columns now show 0 null values, confirming that any entries with missing data have been successfully removed.
- Significance: Ensuring that there are no null values in the dataset is crucial before fitting a model, as many algorithms cannot handle missing values effectively.

## EDA

##### Purpose:

- Understand data structure and content.
- Identify patterns, trends, and relationships.
- Detect outliers and anomalies.
- Test assumptions about the data.
- Inform feature engineering and transformations.

##### Common Techniques:

- **Descriptive Statistics:** Summarize data (mean, median, standard deviation).
- **Data Visualization:** Use charts (histograms, scatter plots, box plots) to visualize distributions and relationships.
- **Correlation Analysis:** Examine relationships between variables (correlation coefficients, heatmaps).
- **Handling Missing Values:** Assess and treat missing data appropriately.
- **Categorical Analysis:** Analyze frequency distributions of categorical variables.

##### Importance:

- Lays the foundation for modeling.
- Informs business decisions and hypotheses.
- Improves machine learning model performance through data cleaning and relevant feature identification.

In [37]:
train_data["Journey_day"] = pd.to_datetime(train_data.Date_of_Journey, format="%d/%m/%Y").dt.day

In [38]:
train_data["Journey_month"] = pd.to_datetime(train_data["Date_of_Journey"], format = "%d/%m/%Y").dt.month

From description we can see that **Date_of_Journey** is a object data type,
Therefore, we have to convert this datatype into timestamp so as to use this column properly for prediction

For this we require pandas to_datetime to convert object data type to datetime dtype.

- **.dt.day** method will extract only day of that date
- **.dt.month** method will extract only month of that date

In [39]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [40]:
# Since we have converted Date_of_Journey column into integers, Now we can drop as it is of no use.

train_data.drop(["Date_of_Journey"], axis = 1, inplace = True)

In [41]:
# Departure time is when a plane leaves the gate. 
# Similar to Date_of_Journey we can extract values from Dep_Time

# Extracting Hours
train_data["Dep_hour"] = pd.to_datetime(train_data["Dep_Time"]).dt.hour

# Extracting Minutes
train_data["Dep_min"] = pd.to_datetime(train_data["Dep_Time"]).dt.minute

# Now we can drop Dep_Time as it is of no use
train_data.drop(["Dep_Time"], axis = 1, inplace = True)

C:\Users\rango\AppData\Local\Temp\ipykernel_16656\569228883.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data["Dep_hour"] = pd.to_datetime(train_data["Dep_Time"]).dt.hour
C:\Users\rango\AppData\Local\Temp\ipykernel_16656\569228883.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data["Dep_min"] = pd.to_datetime(train_data["Dep_Time"]).dt.minute

#### Dropping `Dep_Time` in EDA

1. **Understanding the Data**:
   - `Dep_Time` represents the departure time of flights, initially stored as a string (object data type).

2. **Transforming Data for Analysis**:
   - The goal is to convert `Dep_Time` into numerical features:
     - **`Dep_hour`**: Extracts the hour from the departure time.
     - **`Dep_min`**: Extracts the minute from the departure time.
   - This transformation makes the data suitable for modeling.

3. **Removing Redundant Information**:
   - After creating `Dep_hour` and `Dep_min`, the original `Dep_Time` becomes unnecessary.
   - Dropping `Dep_Time` simplifies the dataset and eliminates clutter.

4. **Efficiency**:
   - Keeping only relevant features improves model training efficiency by reducing dimensionality and focusing on useful information.

In [42]:
# Arrival time is when the plane pulls up to the gate.
# Similar to Date_of_Journey we can extract values from Arrival_Time

# Extracting Hours
train_data["Arrival_hour"] = pd.to_datetime(train_data.Arrival_Time).dt.hour

# Extracting Minutes
train_data["Arrival_min"] = pd.to_datetime(train_data.Arrival_Time).dt.minute

# Now we can drop Arrival_Time as it is of no use
train_data.drop(["Arrival_Time"], axis = 1, inplace = True)

C:\Users\rango\AppData\Local\Temp\ipykernel_16656\1117634591.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data["Arrival_hour"] = pd.to_datetime(train_data.Arrival_Time).dt.hour
C:\Users\rango\AppData\Local\Temp\ipykernel_16656\1117634591.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data["Arrival_min"] = pd.to_datetime(train_data.Arrival_Time).dt.minute

In [43]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35

-  refers to the time taken for a plane to arrive at its destination. It is calculated as the difference between the departure time and the arrival time.

- Converting the Duration column into a list:

In [45]:
# Assigning and converting Duration column into list
duration = list(train_data["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration

In [46]:
# Adding duration_hours and duration_mins list to train_data dataframe

train_data["Duration_hours"] = duration_hours
train_data["Duration_mins"] = duration_mins

In [47]:
train_data.drop(["Duration"], axis = 1, inplace = True)

In [50]:
train_data.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45

### Handling Categorical Data

- <span style="color:blue">**Identify the Type of Categorical Data:**</span>
  - <span>**Nominal Data**</span>: Categories that do not have an inherent order (e.g., Airline names).
  - <span>**Ordinal Data**</span>: Categories that have a meaningful order (e.g., Rating on a scale).

- <span style="color:blue">**Encoding Techniques:**</span>
  - <span>**One-Hot Encoding**</span>: Used for nominal data to create binary columns for each category.
  - <span>**Label Encoding**</span>: Used for ordinal data, assigning each category an integer based on its order.

In [51]:
train_data["Airline"].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [ ]:
# From graph we can see that Jet Airways Business have the highest Price.
# Apart from the first Airline almost all are having similar median

# Airline vs Price
sns.catplot(y = "Price", x = "Airline", data = train_data.sort_values("Price", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.violinplot(x='Airline', y='Price', data=train_data)
plt.title('Violin Plot of Airline Prices')
plt.xticks(rotation=45)
plt.tight_layout()  # Adjust layout to fit labels
plt.show()